.news-latter {
    color: #d8d8d8;
    font-size: 12px;
}

.news-header {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.email-input {
    display: inline-block;
    background: none;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #979797;
    width: 60%;
}

.email-btn {
    display: inline-block;
    background: none;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .email-input {
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .email-input {
        width: 222px;
    }
}