.brand {
    display: table;
    margin: 0 auto;
    a {
        text-decoration: none;
        display: inline-block;
    }
    span {
        display: inline-block;
        padding: 22px;
        border: 4px solid #ffcf60;
        border-radius: 50%;
        &:nth-child(2) {
            transform: translateX(-17px);
            border-color: #7dc242;
        }
    }
}