.recom-img {
    margin-right: 10px;
    img {
        min-height: 378px;
        max-height: 378px;
        object-fit: cover;
    }
    span {
        display: block;
        text-align: left;
        line-height: 1.5;
    }
}