.header{
    border-bottom: 1px solid #979797;
}

.container-header{
    margin: 0 auto;
    max-width: 1360px;
    padding: 58px 10px 10px; 
}

.hamburger {
    display: none;
}

.right-align {
    float: right;
    padding-top: 10px;
    div {
        margin-left: 23px;
        &.about {
            margin-left: 0;
            padding-right: 16px;
            padding-top: 2px;
            a{
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
            }
        }
    }
    .about, .profile, .cart{
        float: left;
    }
}