.footer {
    background: #000;
    color: #fff;
    letter-spacing: 1px;
    a {
        text-decoration: none;
        color: #fff;
    }
}

.container-footer {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-content {
    padding: 40px;
    border-bottom: 1px solid #fff;
    &:after{
        content:"";
        display: table;
        clear: both;
    }
}

.footer-left-col {
    .footer-nav-col {
        float: left;
        width: 50%;
        margin-bottom: 30px;
    }
}

.copyright {
    padding: 20px 0;
    clear: both;
    text-align: center;
    font-size: 10px;
    color: #808080;
    a {
        text-decoration: underline;
        color: #808080;
    }
}

.footer-right-col {
    .footer-nav-col {
        margin: 0 auto 40px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-content {
        padding: 54px 17px 54px 28px;
    }
    .footer-left-col {
        .footer-nav-col {
            width: 25%;
            margin-bottom: 0;
        }
    }
    .footer-right-col {
        .footer-nav-col {
            width: 50%;
            float: right;
            &:last-child {
                float: left;
            }
        }
    }
}

@media only screen and (min-width: 1023px) {
    .footer-left-col {
        float: left;
        width: 57%;
    }
    .footer-right-col {
        float: right;
        width: 43%;
        .footer-nav-col {
            width: auto;
            margin-bottom: 0;
        }
    }
}