.feature-text {
    width: 100%;
    position: absolute;
    padding: 10px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    .container-feature-text {
        max-width: 1340px;
        margin: 0 auto;
    }
}